<!DOCTYPE HTML>

<html ng-app="NeedleTable">
<head>
	<title>Needle Table</title>
	<!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body ng-controller="tableCtrl">

<header>
	<h2>Needle Table</h2>
</header>

<table>
	<tr>
		<th ng-repeat="colHead in table.colHeads">{{colHead}}</th>
	</tr>
	<tr ng-repeat="row in table.rows track by $index">
		<td ng-repeat="(key, val) in table.rows[$index]">
			<input type="text" ng-model="val.val" ng-blur="val.equation(row)">
		</td>
	</tr>
	<tr>
		<td ng-repeat="(key, val) in table.columnTotals track by $index">
			<input type="text" ng-model="val['col' + (key+1)]" readonly>
		</td>
	</tr>

</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.js"></script>
<script src="app.js"></script>
<script src="tableCtrl.js"></script>
<script src="tableService.js"></script>
</body>
</htmL>